/* Colors */
$big-chill: #D0CFCA;
$chambourd: #57474F;
$expressive-plum: #6C5C64;
$shagreen: #C9CD9C;
$raindrop: #9FC5C8;
$grand-canal: #417880;
$flattering-peach: #F4D6B3;
$oyster-bay: #ACB3A8;
$china-doll: #DCCEBE;
$ancient-marble: #D0CFBB;
$ski-slope: #E2E5E4;
$snowbound: #EEEBE5;

$otto-brown: rgb(85, 72, 68);

/* Blueprint */

$font-color: black;


/* Imports */
@import "compass/reset";
@import "compass/utilities";
@import "blueprint";


/* Spread */
@mixin spread-wrapper() {
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
	position: relative;
	
	&:after {
		content: '';
		width: 100%;
		display: inline-block;
		font-size: 0;
		line-height: 0;
	}
}

@mixin spread-item() {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
}

/* Mixins */
@mixin striped-background($color-a, $color-b, $width) {
	background-color: $color-a;
	@include filter-gradient($color-a, $color-b, horizontal);
	@include background-image(linear-gradient(left, $color-a 0%, $color-a 50%, $color-b 50%));
	background-size: $width 2px;
}

@mixin left-gradient($color-a, $stop-a, $color-b, $stop-b) {
	background: -moz-linear-gradient(right,  $color-a $stop-a, $color-b $stop-b);
	background: -webkit-gradient(linear, right top, left top, color-stop($stop-a,$color-a), color-stop($stop-b,$color-b));
	background: -webkit-linear-gradient(right,  $color-a $stop-a,$color-b $stop-b); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(right,  $color-a $stop-a,$color-b $stop-b); /* Opera 11.10+ */
	background: -ms-linear-gradient(right,  $color-a $stop-a,$color-b $stop-b); /* IE10+ */
	background: linear-gradient(to left,  $color-a $stop-a,$color-b $stop-b); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

@mixin vertical-gradient($top, $bottom) {
	background-color: $top;
	@include filter-gradient($top, $bottom, vertical);
	@include background-image(linear-gradient(top, $top 0%, $bottom 100%));
}

@mixin horiz-gradient($left, $right) {
	background-color: $left;
	@include filter-gradient($left, $right, horizontal);
	@include background-image(linear-gradient(left, $left 0%, $right 100%));
}

@mixin text-color($bg) {
	@if lightness($bg) > lightness(#aaaaaa) {
		color: black !important;
		@include text-shadow(black);
	} @else {
		color: white !important;
		@include text-shadow(white);
	}
}

@mixin text-shadow($text-color) {
	$shadow-color: blue;
	$offset-y: 5px;
	
	@if lightness($text-color) > lightness(#aaaaaa) {
		$shadow-color: black;
		$offset-y: -1px;
	} @else {
		$shadow-color: white;
		$offset-y: 1px;
	}
	
	text-shadow: 0 $offset-y $shadow-color;
	-o-text-shadow: 0 $offset-y $shadow-color;
	-moz-text-shadow: 0 $offset-y $shadow-color;
	-webkit-text-shadow: 0 $offset-y $shadow-color;
	-ms-text-shadow: 0 $offset-y $shadow-color 
}

@mixin box-shadow($x, $y, $blur, $color) {
	box-shadow: $x $y $blur $color;
	-o-box-shadow: $x $y $blur $color;
	-moz-box-shadow: $x $y $blur $color;
	-webkit-box-shadow: $x $y $blur $color;
	-ms-box-shadow: $x $y $blur $color;
}

@mixin link($color: $chambourd) {
	color: $color;
	text-decoration: none;
	
	&:hover {
		color: $color;
		font-weight: bold;
	}
	
	&:visited {
		color: $color;
	}
	
	&:link {
		color: $color;
	}
}

