@import "compass/css3/transform";

$header-color: $grand-canal;

/* Headers */
#blog header {
	padding: 0;
	text-align: left;
	margin: 0;
	margin-bottom: 1em;
}

h3.title { font-size: 1.5em; }
.sidebar h2 { font-size: 1.25em; }

h3.title, .sidebar h2 {
	border-bottom: 1px solid $header-color;
	color: $grand-canal;	
	padding-bottom: 5px;
	margin: 0;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 5px;
}

h3.title a {
	@include link($header-color);
}

.page-header h1 {
	font-size: 2em;
	font-weight: bold;
}

/* Post Tagline */
.tagline a {
	font-style: italic;
	@include link($header-color);
}

/* Tags and Categories */
.postmetadata {
	a {
		font-style: italic;
		@include link($header-color );
	}
}

#blog .label {
	display: inline;
	color: black;
	font-weight: bold;
}
article.post {
	margin-bottom: 30px;
	
	.entry {
		a {
			@include link;
			text-decoration: underline;
			
			&:hover { font-weight: normal; }
		}
		
		a.more-link {
			text-decoration: none;
			font-style: italic;
		}
	}
}


/* Comments */
.comments:after{
    content: '';
    background: #fff;
    height: 8px; width: 8px;
    position: absolute;
    bottom: -4px; left: 50%;
    z-index: 4;
    @include rotate(45deg);
    box-shadow: 1px 1px 0px black;
}

.comments {
    background: #fff;
    border: 1px solid black;
    position: relative;
    margin: 0;
    padding: 3px;
    height: 1em;
    text-align: center;
    line-height: 1em;
    float: right;
    
    a {
    	@include link($header-color);
    }
}

#comments-count {
	line-height: 9px;
	border: 1px solid black;
	padding: 5px 7px;
	margin: 0;
	height: 9px; 
	border-radius: 3px;
	float: right;
	
	a {
		@include link($header-color);
	}
}

/* Sidebar */
.sidebar a {
	@include link;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}