@import "compass/typography/lists/horizontal-list";
@import "compass/layout/stretching";

$sidebar-columns: 6;
$border-columns: 1;

html {
	margin-top: 0;
}

body {
	@include striped-background($raindrop, $big-chill, 10px);
}

#wrapper {
	@include container;
	
	background: white;
	overflow: visible;
	box-shadow: 0 0 10px black;
	
	//@include showgrid;
}

header.main {
	height: 175px;
}

header.main, footer.main {
	@include column($blueprint-grid-columns);
	text-align: center;
	padding: 0;
	overflow: hidden;
	background: white;

}

footer.main {
	background: $big-chill;
	padding-top: 1em;
	margin-top: 1em;
}

#blog_container {
	@include container;
	padding-top: 10px;
}

#blog {
	@include column($blueprint-grid-columns - $sidebar-columns - (2 * $border-columns));
	@include prepend($border-columns);
}

.sidebar {
	@include column($sidebar-columns, true);
	
	li.widget {
		margin-bottom: 10px;
	}
}



#social {
	@include spread-wrapper;
	height: 34px;
	
	.social-icon {
		@include spread-item;
	}
}

.sidebar {
	list-style: none;
	
	.textwidget { text-align: center; }
}