@import "neat/neat-helpers";

// Main Grid Settings
$grid-columns: 12;
$column: 6em;
$gutter: 1em;

// Media Queries
$default-feature: max-width;
$tablet: new-breakpoint(max-width 768px 10);
$mobile: new-breakpoint(max-width 480px 4);

// Grid Guidance;
$visual-grid: false;
$visual-grid-color: #0099FF;
$visual-grid-opacity: 0.2;
$visual-grid-index: front;