@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

html, body {
	margin: 0;
	padding: 0;
	background-image: url("../images/background-tile150.gif");
	background-repeat: repeat;
}

div#page {
	@include outer-container;
	padding-left: 0;
	margin-left: 0;
}

header#banner {
	@include span-columns(12);
	@include omega();
	height: 150px;

	background-image: url("../images/site-header768.jpg");
	background-repeat: no-repeat;
	
	@include media($tablet) {
		@include span-columns(10);
	}
	
	
	@include media($mobile) {
		@include span-columns(4);
	}
	
	@include media($mobile-sm) {
		background-image: url("../images/site-header480.jpg");
	}
}

main {
	@include span-columns(9);
	
	background: white;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 0 5px 0 black;
	
	@include media($tablet) {
		@include span-columns(7);
	}
	
	@include media($mobile) {
		@include span-columns(4);
		border-radius: 0;
	}
	
	#small-search {
		text-align: center;
		display: none;
		
		@include media($mobile) {
			@include span-columns(4);
			display: block;
		}
	}
	
	#navigation {
		@include span-columns(2 of 9);
		overflow: hidden;
		padding-left: 1em;
		
		@include media($tablet) {
			@include span-columns(0 of 7);
			display: none;
		}
	}
	
	#blog {
		@include span-columns(7 of 9);
		padding-right: 1em;
		padding-bottom: 1em;
		
		@include media($tablet) {
			@include span-columns(7 of 7);
			padding-left: 1em;
		}
		
		@include media($mobile) {
			@include span-columns(4 of 4);
		}
	}
}

aside#complementary {
	@include span-columns(3);
	@include omega();
	@include pad(0 1em 0 0);
	overflow: hidden;
	
	@include media($tablet) {
		@include span-columns(3);
		@include omega();
	}
	
	@include media($mobile) {
		display: none;
	}
}

footer#contentinfo {
	padding-left: 1em;
	
	@include span-columns(12);
	@include omega();
	
	@include media($tablet) {
		@include span-columns(10);
		@include omega();
	}
	
	@include media($mobile) {
		@include span-columns(4);
		@include omega();
	}
}
