/* Fonts and Text */

h1,h2,h3,h4,h5,h6 {
	font-family: merriweather, serif;
	font-weight: bold;
}

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.1em;
}

body {
	font-family: source-sans-pro, sans-serif;
}
	