
$big-chill: #D0CFCA;
$chambourd: #57474F;
$expressive-plum: #6C5C64;
$shagreen: #C9CD9C;
$raindrop: #9FC5C8;
$grand-canal: #417880;
$flattering-peach: #F4D6B3;
$oyster-bay: #ACB3A8;
$china-doll: #DCCEBE;
$ancient-marble: #D0CFBB;
$ski-slope: #E2E5E4;

$otto-brown: rgb(85, 72, 68);

$sidebar-width: 200px;
$sidebar-padding: 35px;

@mixin striped-background($color-a, $color-b, $width) {
	background: $color-a;
	background: -moz-linear-gradient(left,  $color-a 0%, $color-a 50%, $color-b 50%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,$color-a), color-stop(50%,$color-a), color-stop(50%,$color-b));
	background: -webkit-linear-gradient(left,  $color-a 0%,$color-a 50%,$color-b 50%);
	background: -o-linear-gradient(left,  $color-a 0%,$color-a 50%,$color-b 50%);
	background: -ms-linear-gradient(left,  $color-a 0%,$color-a 50%,$color-b 50%);
	background: linear-gradient(to right,  $color-a 0%,$color-a 50%,$color-b 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color-a}', endColorstr='#{$color-b}',GradientType=1 );
	background-size: $width 2px;
}

@mixin left-gradient($color-a, $stop-a, $color-b, $stop-b) {
	background: -moz-linear-gradient(left,  $color-a $stop-a, $color-b $stop-b);
	background: -webkit-gradient(linear, left top, right top, color-stop($stop-a,$color-a), color-stop($stop-b,$color-b));
	background: -webkit-linear-gradient(left,  $color-a $stop-a,$color-b $stop-b); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  $color-a $stop-a,$color-b $stop-b); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  $color-a $stop-a,$color-b $stop-b); /* IE10+ */
	background: linear-gradient(to right,  $color-a $stop-a,$color-b $stop-b); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

@mixin vertical-gradient($top, $bottom) {
	background: $top;
	background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
	background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
	background: -o-linear-gradient(top,  $top 0%,$bottom 100%);
	background: -ms-linear-gradient(top,  $top 0%,$bottom 100%);
	background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top}', endColorstr='#{$bottom}', GradientType=0 );
}

@mixin horiz-gradient($left, $right) {
	background: $left;
	background: -moz-linear-gradient(top,  $left 0%, $right 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,$left), color-stop(100%,$right));
	background: -webkit-linear-gradient(left,  $left 0%,$right 100%);
	background: -o-linear-gradient(left,  $left 0%,$right 100%);
	background: -ms-linear-gradient(left,  $left 0%,$right 100%);
	background: linear-gradient(to right,  $left 0%,$right 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$left}', endColorstr='#{$right}', GradientType=1 );
}

@mixin text-color($bg) {
	@if lightness($bg) > lightness(#aaaaaa) {
		color: black !important;
		@include text-shadow(white, 0, 1px, 0);
	} @else {
		color: white !important;
		@include text-shadow(black, 0, -1px, 0);
	}
}

@mixin text-shadow($color, $x, $y, $z) {
	text-shadow: $color $x $y $z;
	-o-text-shadow: $color $x $y $z;
	-moz-text-shadow: $color $x $y $z;
	-webkit-text-shadow: $color $x $y $z;
	-ms-text-shadow: $color $x $y $z;   
}

@mixin box-shadow($color, $x, $y, $z) {
	box-shadow: $color $x $y $z;
	-o-box-shadow: $color $x $y $z;
	-moz-box-shadow: $color $x $y $z;
	-webkit-box-shadow: $color $x $y $z;
	-ms-box-shadow: $color $x $y $z;
}

@mixin spread-wrapper() {
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
	position: relative;
	
	&:after {
		content: '';
		width: 100%;
		display: inline-block;
		font-size: 0;
		line-height: 0;
	}
}

@mixin spread-item() {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
}

