/* Navigation */

/* Ribbon CSS */
$nav-color: $grand-canal;


  
    
    
    
nav {
	width: 100%;
	margin: .2ex 0 1.2ex;
	text-align: center;
	position: relative; 
	padding: 0 1ex;
	left: -1ex;
	
	@include text-color($nav-color);
	
	@include vertical-gradient($nav-color, darken($nav-color, 15%));
	@include box-shadow(black, 0, 1px, 1px);
	
	top: -2ex;
}

nav .nav-banner {
	display: block;
	padding: 0;
	margin: 0;
}

nav .nav-banner:before, nav .nav-banner:after {
	position: absolute;
	display: block;
	border-style: solid;
	bottom: -1.1ex;
	content: '';
	border-color: #333333 transparent transparent transparent;
}

nav .nav-banner:before {
	border-width: 1ex 0 0 1ex;
	left: 0;
}

nav .nav-banner:after {
	border-width: 1ex 1ex 0 0;
	right: 0;
}


nav:before {
	border-left-color: transparent;
}

nav:after {
	border-right-color: transparent;
}

/* Menu CSS */
.menu-nav-container ul {
    list-style: none;
    height: 2em;
    line-height: 2em;
    text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
    padding: 0 .5em;
}
.menu-nav-container ul li {
    height: 2em;
    vertical-align: top;
    display: inline-block;
    padding: 0 2ex;
    zoom: 1;
    
    &:hover {
    	background: rgba(0, 0, 0, .1);
    }
    
    a {
    	@include text-color($nav-color); 
    }
}

.menu-nav-container ul li:hover {
	background: rgba(0, 0, 0, .1);
}

.menu-nav-container ul:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}


/* Submenus */

.menu-nav-container ul ul {
	display: none;
}