/* Main Blog and Article Styles */
article {
  header h3 {
	  padding-bottom: 0.25em;
	  margin-bottom: 0.25em;
	  border-bottom: 1px solid $chambourd;
	  font-size: 1.5em;
	  a { color: $chambourd; }
  }
  
  footer { 
    margin-bottom: 1em;
  }
  
  img {
	  width: 100%;
	  height: auto;
  }
  
  iframe {
    margin-top: 1em;
  }
  
}

article > p {
	font-size: 0.9em;
}


.double-images {
  a:first-child { 
      margin: 0;
      img { margin-bottom: 1em; }
    }
    img {
      width: 100%;
      height: auto;
  }
    
  @include media(700px) {
    a:first-child { 
      margin-right: 4%; 
      img { margin-bottom: 0; }
    }
    img {
      width: 48%;
      height: auto;
    }
  }  
}

/* Post Information (Author, Date, etc.) */
.post-information {
	.post-information-item { 
		display: inline;
		margin-right: 2em;
		font-size: 0.85em;
		
		&:before { 
			font-family: entypo;
			margin-right: 0.15em;
			font-size: 2.5em;
			line-height: 0.75em;
			color: #333;
			vertical-align: bottom;
		}
		
		@include media($tablet) {
			display: block;
		}
	}
	
	.author:before { content: "\1F464"; }
	.date-published:before { content: "\1F4C5"; }
	.comment-count:before { content: "\E720"; }
	.edit:before { content: '\270E'; }
	
	a {
		text-decoration: none;
		color: black;
		
		&:hover { text-decoration: underline; }		
	}
}

/* Post Metadata (Categories, Tags, Social) */
$metadatacolor: $grand-canal;
.postmetadata {
	font-size: 0.85em;
	color: $metadatacolor;
	
	.label {
		font-weight: 600;
		display: inline;
	}
	
	a {
		font-style: italic;
		text-decoration: none;
		color: $metadatacolor;
		
		&:hover {
			color: black;
			text-decoration: underline;
		}
	}
}

/* Continue reading link */
.more-link {
  color: $grand-canal;
  text-decoration: none;
  font-style: italic;
  &:hover { font-weight: bold; }
}

/* Bottom Page Navigation */
.navigation {
	#previous { 
		text-align: left;
		display: inline;
	}
	
	#next { 
		float: right;
		display: inline;
	}
	
	a {
		color: $chambourd;
		text-decoration: none;
		&:hover { font-weight: bold; }
	}
}