/* Navigation */

$nav-color: $grand-canal;
$nav-height: 35px;
$nav-font-size: 16px;
$nav-item-count: 5;

$nav-banner-size: 10px;
$nav-banner-color: #111111;

$nav-width: $blueprint-container-size + (2 * $nav-banner-size);

nav {
	@include column($blueprint-grid-columns);
	
	height: $nav-height;
	width: $nav-width;
	margin-left: -$nav-banner-size;
	margin-bottom: $blueprint-grid-margin;
}

.nav-banner {
	position: relative;
}

.nav-banner:before, .nav-banner:after {
	position: absolute;
	display: block;
	border-style: solid;
	top: $nav-height;
	content: '';
	border-color: $nav-banner-color transparent transparent transparent;
}

.nav-banner:before {
	border-width: $nav-banner-size 0 0 $nav-banner-size;
	left: 0;
}

.nav-banner:after {
	border-width: $nav-banner-size $nav-banner-size 0 0;
	left: $blueprint-container-size + $nav-banner-size;
}

/* Nav Menu */
ul.nav {
	margin: 0;
	padding: 0;
	
	li {
		display: inline;
		
		a {
			text-decoration: none;
			display: inline-block;
			float: left;
			width: $nav-width / $nav-item-count;
			height: $nav-height;
			font-size: $nav-font-size;
			text-align: center;
			line-height: $nav-height;
			color: white;
			@include text-shadow(white);
			@include vertical-gradient($grand-canal, darken($grand-canal, 20%));
			
			&:hover {
				@include vertical-gradient(darken($grand-canal, 5%), darken($grand-canal, 30%));
			}
		}
	}
}

/* Bottom Page Navigation */
.navigation {
	#previous { 
		text-align: left;
		display: inline;
	}
	
	#next { 
		float: right;
		display: inline;
	}
	
	a {
		@include link;
	}
}
		