

.article-header {
	.title {
		font-weight: bold;

		a:hover {
			text-decoration: none;
		}
	}

	a {
		color: $chambourd;

		&:hover {
			text-decoration: underline;
		}
	}
}


.widget {
	.widgettitle {
		font-size: rem-calc(23);
		font-weight: bold;
	}

	li a {
		color: black;

		&:hover {
			font-weight: bold;
		}
	}
		
}



