/* Widgets and Widget Area */

li.widget {
	list-style-type: none;
	margin-bottom: 1em;
	
	/* Widget Title Style */
	.widgettitle {
		border-bottom: 1px solid $chambourd;
		color: darken($chambourd, 25%);
		margin-bottom: 0.5em;
	}
	
	/* Base List-Type Widget */
	ul {
		list-style-type: none;
		margin-left: 0;
		margin-top: 0;
		padding-left: 0;

	}
	
	/* Widget Links */
	a {
		$link-color: darken($chambourd, 20%);
		
		text-decoration: none;
		color: $link-color;
		
		&:hover {
			font-weight: bold;
		}
		
		&:active {
			font-weight: bold;
		}
		
		&:visited {
			color: $link-color;
		}
		
	}
		
}

/* Social Follow Buttons */
div#social {
	@include spread-wrapper;
			
	.social-icon {
		background-image: url(images/social/social_sprites.png);
		height: 32px;
		width: 32px;
		background-repeat: no-repeat;
		margin-bottom: 0.5em;
	
		&.facebook { background-position: -1px -1px; }
		&.twitter { background-position: -69px -1px; }
		&.instagram { background-position: -35px -1px; }
		&.youtube { background-position: -69px -35px; }
		&.pinterest { background-position: -1px -35px; }
		&.rss { background-position: -35px -35px; }

		@include hidpi(1.5) {
			background-image: url(images/social/social_sprites@2x.png);
			height: 32px;
			width: 32px;
			background-size: 99px 66px;
			
			&.facebook { background-position: -1px -1px; }
			&.twitter { background-position: -67px -1px; }
			&.instagram { background-position: -33px -1px; }
			&.youtube { background-position: -67px -33px; }
			&.pinterest { background-position: -1px -33px; }
			&.rss { background-position: -33px -33px; }
		}
	}
}



